
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store
/dist
/build
*.log
*.pid
*.gz

node_modules/
build/
.env
.DS_Store
*.log

Front/node_modules/
Back/node_modules/

.vscode/


Thumbs.db
Desktop.ini